/* makes width of containers their total width rather than having to add
the padding and margin to the width */
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    font-family: 'Mulish', sans-serif;
  }

body{
    margin:0px;
}

img{
    width:100%;
    height:auto;
}

ul{
    padding:0px;
    margin:0px;
}

div.nav-menu{
    display:flex;
    max-width:960px;
}

ul.nav-buttons{
    display:flex;
    padding-block:5px;
    gap:10px;
    font-size:1.5em;
    list-style-type: none;
}

li.logo{
    margin-right:auto;
}

*{
    border: 1px solid red;
}

nav, footer, .hero{
    background-color: #1F2937;
    color:#F9FAF8;
}


.hero{
    display:flex;
    justify-content: center;
}

.hero-content{
    display:flex;
    flex-wrap:wrap;
}

.hero-brand-pitch, .hero-product-picture{
    min-width:240px;
    margin-block:20px;
    flex:1;
}

.hero-brand-pitch{
    max-width:50%;
    padding-right:1%;
}

.hero-product-picture{
    height:180px;
    overflow:hidden;
    position:relative;

}

.noMargin{
    margin:0px;
}

img.hero{
    
}

.popular-products-content{
    margin-inline:20%;
}

.popular-products-title{
    text-align:center;
}

.popular-products-cards{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 50px;
}

.popular-product-image-container{
    width:150px;
    height:150px;
    border:4px solid #3882F6;
    border-radius:20px;
    overflow:hidden;

}

.popular-product-image{
    width:100%;
    object-fit:cover;
    border: 1px solid green;
    position:relative;
}

.popular-products-pair{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    flex:1;
}

.popular-product{
    display:flex;
    flex-direction: column;
    flex:0 1 150px;
    border-radius:20px;
}

.content{
    margin-inline:15%;
}

.testimonial{
    background-color: #E5E7EB;
}