/* makes width of containers their total width rather than having to add
the padding and margin to the width */
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    font-family: 'Mulish', sans-serif;
  }

body{
    margin:0px;
}

img{
    width:100%;
    height:auto;
}

ul{
    padding:0px;
    margin:0px;
}

div.nav-container{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding-top:5px;
    max-width:980px;

}

div.nav-content{
    display:flex;
    max-width:960px;
    margin-inline:10px;
    gap:20px;
}

.nav-container{
    margin-inline:10px;
}

ul.nav-buttons{
    display:flex;
    padding-block:5px;
    gap:10px;
    font-size:1.5em;
    list-style-type: none;
}

/* debug rule :)
*{
    border: 1px solid red;
}
*/


nav, footer, .hero{
    background-color: #1F2937;
    color:#F9FAF8;
}

.nav.logo{
    margin-right:auto;
}



.hero{
    display:flex;
    justify-content: center;
}

.hero-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:960px;
    max-width:960px;
    margin-inline:10px;
    gap:15px;
}

.hero-brand-pitch, .hero-product-picture{
    min-width:240px;
    margin-block:20px;
}

.hero-brand-pitch{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1 1 290px;
    max-width:480px;
    padding-right:1%;
}

.hero-brand-picture{
    max-width:480px;
    overflow:hidden;
    position:relative;

}

.hero-brand-picture-container{
    display:flex;
    height:100%;
    align-items:center;
}

.noMargin{
    margin:0px;
}

img.hero{
    height:87%;
    object-fit: cover;
    align-self: center;
}

.popular-products-content{
    max-width:900px;
    margin-inline:auto;
}

.popular-products-title{
    text-align:center;
}

.popular-products-cards{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 50px;
}

.popular-product-image-container{
    width:150px;
    height:150px;
    border:4px solid #3882F6;
    border-radius:20px;
    overflow:hidden;

}

.popular-product-image{
    width:100%;
    object-fit:cover;
    border: 1px solid green;
    position:relative;
}

.popular-products-pair{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    flex:1;
}

.popular-product{
    display:flex;
    flex-direction: column;
    flex:0 1 150px;
    border-radius:20px;
}

.content{
    margin-inline:15%;
}

.testimonial.section{
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.testimonial.content{
    display:flex;
    flex-direction:column;
    padding-block:50px;
    margin-inline:auto;
    font-size:1.5em;
    font-style:italic;
}

p.testimonial{
    flex: 1;
    max-width:625px;
    margin:0px;
}

.testimonial.source{
    margin-top:0px;
    text-align:end;
}

.discount{
    display:flex;
    align-items: center;
    justify-content:center;
}

.discount-shape{
    display:flex;
    width:960px;
    margin-block:75px;
    border-radius:20px;
    background-color: #3882F6;
    color:#E5E7EB;
}

.discount-content{
    display:flex;
    flex:0 1 660px;
    flex-flow:row wrap;
    align-items:center;
    margin:auto;
}

.discount-text{
    display:flex;
    flex-direction: column;
    flex:4 1 313px;
    justify-content: center;
    padding-block:30px;
}

.discount-text > p{
    margin:0px;
}

.shop{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100px;
    background-color: #3882F6;
    border-radius:5px;
    padding-block:.25em;
    color:#E5E7EB;
}

.discount-content > .shop{

    display:flex;
    justify-content: space-around;
    align-items:center;
    height:fit-content;
    flex:1 0 100px;
    border: 2px solid white;
    text-align:center;
}

footer{
    text-align: center;
}